@font-face{font-family:segoeui;src:url(../fonts/segoeui.ttf)}
@font-face{font-family:segoeuib;src:url(../fonts/segoeuib.ttf)}
@font-face{font-family:SegoEUII;src:url(../fonts/segoeuii.TTF)}
@font-face{font-family:SegoEUIL;src:url(../fonts/segoeuil.TTF)}
@font-face{font-family:SegoEUISL;src:url(../fonts/segoeuisl.TTF)}
@font-face{font-family:SegoEUIZ;src:url(../fonts/segoeuiz.TTF)}
@font-face{font-family:seguIBL;src:url(../fonts/seguibl.TTF)}
@font-face{font-family:seguIBLI;src:url(../fonts/seguibli.TTF)}
@font-face{font-family:seguILI;src:url(../fonts/seguili.TTF)}
@font-face{font-family:seguISB;src:url(../fonts/seguisb.TTF)}
@font-face{font-family:seguISBI;src:url(../fonts/seguisbi.TTF)}
@font-face{font-family:seguISLI;src:url(../fonts/seguisli.TTF)}
/* @group global reset */
html, body { padding:0; margin:0; height:100%; }
h1, h2, h3, h4, h5, h6, fieldset, dd, button, form, ul, ul li, ol, ol li, dl, p, input, button, label, td, abbr, article, aside, audio, bb, canvas, datagrid, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video, blockquote, address { margin: 0; padding: 0; }
sup { vertical-align:top; line-height:1; }
ul li, ol li, menu li { list-style-type: none; }
fieldset, dd, button, form, img, a img, iframe { border: none; }
table { border-spacing:0;  *border-collapse:collapse; width:100%; }
header, footer, nav, menu, section, aside, article, details, summary, address { display:block; zoom:1; }
a:hover, a:active, a:focus, input:active, textarea:active, input:focus, textarea:focus{  outline:0; }
/* @end */

/* @group Default Element Styles */
html, body { padding:0; margin:0; height:100%; }
body{
	color:#fff;
}
img{
    max-width:100%;
    display:block;
}
h1, h2, h3{
	font-family: 'source_sans_prolight', 'arial';
	color:#ffecc7;
	margin-bottom:20px;
	text-transform:uppercase;
	font-weight:normal;
}
h1 { font-size:48px; line-height:52px; }
h2 { font-size:40px; line-height:44px; }
h3 { font-size:30px; line-height:34px; color: #484238; margin-bottom:5px; }
h4 { font: 24px/24px 'source_sans_prolight', 'arial'; color: #211a0f; text-transform: uppercase; }
h5 { font:bold 14px/18px arial; color:#757067; }

a {
	text-decoration: none;
	cursor:pointer;
	outline:0;
}
a:hover { text-decoration:none; color:#e6d4b3; }
input[type='text'], input[type='password'], textarea, input[type='email'], input[type='tel'], input[type='number']{
	display:block;
	font:normal 12px/15px arial;
	color:#757067;
	padding:8px 10px;
	outline:0;
	position: relative;
  padding:8px 10px\9;
  background-color:transparent;
}
.container{
max-width:80%;
margin: 0 auto;
}

/* @end */

/* @group Clearfix */
.clearfix { zoom: 1; }
.clearfix:after {
	clear:both;
	content:'.';
	display:block;
	visibility:hidden;
	height:0;
	font-size: 0;
}
.desk-none {display: none;}
.pdgleft{text-align: center;}
.clearfix { display:block; }
* html .clearfix { height:1%; }
*+html .clearfix { display:inline-block; }
/* @end */